#headercolor{
    background-color: #264653;
}

#bikeimg{
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
    
}
#persionimg{
    width: 149px;
    height: 149px;
}
#buttoncolor{
    background-color: #E76F51;
}
#textcolor{
    color:#E76F51;
}